.dashboard {
  font-family: Arial, sans-serif; // same as used in x_tick
  background-color: black;
}

.chatIframe {
  width: 100%;

  @media only screen and (max-width: 768px) {
    height: 80vh;
  }
  @media only screen and (min-width: 769px) {
    height: 80vh;
  }
}

.rickshawChartContainer {
  position: relative;
  width: 100%;
  // height: 100%;
  // width: 50vw;
  @media only screen and (max-width: 768px) {
    height: 50vh;
  }
  @media only screen and (min-width: 769px) {
    height: unquote("max(180px, 10vh)"); // here we set chart height to 10% of vertical height, allowing a large monitor to see all charts in one screen, while smaller resolutions will ensure a minimum height to avoid bad chart renders. `unquote` is a workaround because max() is a builtin sass function that doesn't support using (px, vh) but the underlying css max function does and unquote uses it directly https://github.com/sass/libsass/issues/2701#issuecomment-650536692    
  }
  background-color: rgb(21, 35, 44);
}

.rickshawChart {
  position: relative;
  width: 100%;
  height: 100%;
  border: none !important;
  z-index: 0;
}
.rickshawChart2 {
  position: absolute;
  top: 0;
  right: -4%;
  z-index: 1;
  border: none !important;
}

.rickshawChartLegend {
  font-family: Arial, sans-serif; // same as used in x_tick
  // writing-mode: vertical-rl;
  // text-orientation: sideways;
  position: absolute;
  top: 1%;
  left: 1%;
  z-index: 2;
  // transform: rotate(180deg);

  .marketName {
    color: white;
    // opacity: 0.5; this value causes marketName to look like the x axis time ticks
  }

  img {
    height: 0.8em;
    // transform: rotate(90deg);
  }
}

.detail .active {
  // transform-origin: left center;
  // transform: rotate(-90deg) translateY(-57%) translateX(9%);
}

.x_label {
  top: 40%;
}

.x_tick .title {
  // bottom: unset !important; /* unsetting bottom has the effect of pushing the X axis time labels to the top of the chart, ie. to the right of the chart after rotation, this is because rickshaw css already sets position absolute, top 0, bottom 0, so when we unset bottom what's left is "position: absolute, top: 0" */
  color: white;
  // border-left: none; // hides the thin vertical line that dilineates the precise location of each x axis tick
  // transform: rotate(-90deg) translateX(-44%);
}
